.search-cont {
    width: 100%;
    margin: 40px 0 40px 0;
}

.searcher {
    all: initial;
    border-bottom: 1px white solid;
    width: 200px;
    height: 30px;
    font-family: 'Roboto';
}

.btnAdd {
    all: initial;
    font-family: 'Roboto';
    color: white;
}